<div class="page-header">
    <h1 class="offset1">{{song.name}}
        <small>{{song.band}}
            <a href="#/songlist" title="Back to songlist"><i class="icon-circle-arrow-left"></i></a>
        </small>
    </h1>
</div>

<div class="row">
    <div class="span10 offset2">
        <div id="lyrics">
            <pre ng-bind-html-unsafe="song.desc"></pre>
        </div>

        <br />

        <p id="result"></p>

        <div class="form-actions">
            <button id="send_btn" class="btn btn-primary" ng-click="correct($event)">Check</button>
            <a href="#/songlist" class="btn">Back to songlist</a>
        </div>
    </div>
</div>