<div ng:init="$root.pageTitle = 'Song List'"></div>

<div class="page-header">
    <h1 class="offset1">Fill in the blanks <small>English exercise</small></h1>
</div>

<div class="row">
    <div class="span10 offset2" ng-show="songs">
        <input ng-model="query.name" type="text" class="input-medium search-query" placeholder="Song">
        <input ng-model="query.band" type="text" class="input-medium search-query" placeholder="Band">

        <span  class="nullable">
          <select ng-model="pageSize" ng-options="s for s in [5, 10, 20]"></select>
        </span>

        <label>
            <input ng-model="query.hard" data-ng-false-value="" type="checkbox"> Hard
        </label><br/>
        
        <p>TOTAL: {{songs.length}}</p>
        <p>SHOWING: {{filteredSongs.length}}</p>

        <table class="table table-striped">
            <thead>
                <tr>
<!--<a href="" ng-click="predicate = 'name'; reverse=false">Name</a> (<a href ng-click="predicate = '-name'; reverse=false">^</a>)-->

                    <th>
                        #
                        <a href="" ng-click="predicate = 'id'; reverse=false"><i class="icon-arrow-up"></i></a>
                        <a href="" ng-click="predicate = 'id'; reverse=true"><i class="icon-arrow-down"></i></a>
                    </th>
                    <th>
                        Song name
                        <a href="" ng-click="predicate = 'name'; reverse=false"><i class="icon-arrow-up"></i></a>
                        <a href="" ng-click="predicate = 'name'; reverse=true"><i class="icon-arrow-down"></i></a>
                    </th>
                    <th>
                        Band
                        <a href="" ng-click="predicate = 'band'; reverse=false"><i class="icon-arrow-up"></i></a>
                        <a href="" ng-click="predicate = 'band'; reverse=true"><i class="icon-arrow-down"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in filteredSongs | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">

                    <td><i class="icon-pencil"></i> {{song.id}}</td>
                    <td><a href="#/song/{{song.id}}">{{song.name}}</a></td>
                    <td>{{song.band}}</td>

                </tr> 
            </tbody>

<tfoot>
    <td colspan="3">
        <div class="pagination pull-right">
            {{currentPage+1}}/{{numberOfPages}}
            <ul>
                <li ng-class="{disabled: currentPage <= 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
<!--
                <li ng-repeat="n in paginationPages">
                    <a href> - {{n}} - </a>
                </li>
-->
                <li ng-class="{disabled: currentPage >= filteredSongs.length/pageSize - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </td>
</tfoot>
        </table>

<!--

                <li ng-repeat="n in range(filteredSongs.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>

        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
        {{currentPage+1}}/{{numberOfPages}}
        <button ng-disabled="currentPage >= filteredSongs.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
-->

    </div>
</div>