<div ng:init="$root.pageTitle = 'Song List'"></div>

<div class="page-header">
    <h1 class="offset1">Fill in the blanks
        <small>English exercise</small>
        <a ng-href="#/song/new" title="New song"><i class="icon-plus-sign"></i></a>
    </h1>
</div>

<div class="row">
    <div class="span10 offset2 songlist" ng-show="songs">
        <form class="form-inline">
            <div class="control-group">
                <input ng-model="query.name" type="text" class="input-medium search-query" placeholder="Song">
                <input ng-model="query.band" type="text" class="input-medium search-query" placeholder="Band">

                <label class="checkbox">
                    <input ng-model="query.hard" data-ng-false-value="" type="checkbox"> Hard
                </label>

                <span  class="nullable">
                  <select ng-model="pageSize" ng-options="s for s in [5, 10, 20]"></select>
                </span>
            </div>

            <div class="control-group">
                <label>Total: <strong>{{songs.length}}</strong></label>
            </div>
            <div class="control-group">
                <label>Showing: <strong>{{filteredSongs.length}}</strong></label>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Song name
                        <a ng-href="" ng-click="predicate = 'name'; reverse=false"><i class="icon-arrow-up"></i></a>
                        <a ng-href="" ng-click="predicate = 'name'; reverse=true"><i class="icon-arrow-down"></i></a>
                    </th>
                    <th>
                        Band
                        <a ng-href="" ng-click="predicate = 'band'; reverse=false"><i class="icon-arrow-up"></i></a>
                        <a ng-href="" ng-click="predicate = 'band'; reverse=true"><i class="icon-arrow-down"></i></a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="song in filteredSongs | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a ng-href="#/song/{{song._id}}">{{song.name}}</a></td>
                    <td>{{song.band}}</td>
                </tr> 
            </tbody>

            <tfoot>
                <td colspan="3">
                    <div class="pagination pull-right">
                        <span class="badge">{{currentPage+1}}/{{numberOfPages}}</span>
                        <ul>
                            <li ng-class="{disabled: currentPage <= 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-class="{disabled: currentPage >= filteredSongs.length/pageSize - 1}">
                                <a ng-href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</div>